<form class="form-horizontal">
  <div class="control-group">
    <label>new category</label>
    <input type="text" class="form-control category_name" placeholder="Category" aria-describedby="basic-addon1" maxlength="100">
    <br>
    <button class="category_add btn btn-primary">Add</button>
  </div>

  <ul class="categories span3">

  </ul>
</form>