<td>
  <div class="btn-group">
    <a class="detete btn btn-danger" href="#">x</a>
    <a class="purchase btn btn-info" href="#">Buy</a>
    <a class="purchase btn" href="#"><i class="icon-star-empty"></i> Star</a>
  </div>
</td>
<td>
  <p>{{model_name}}</p>
</td>