<td>
  <div class="btn-group">
    <a class="detete btn btn-danger" href="#">x</a>
    <button class="purchase btn"><i class="icon-star"></i> Buy</button>
    <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown">
      {{item_name}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      {{!-- see 'shop_items/list_item' for <li> tag --}}
    </ul>
  </div>
</td>
<td>
  <p>{{model_name}}</p>
</td>