@import url("whitespace-reset.css");
@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed");
/* line 4, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/albums.css */
html, body {
  background: #DADAFF;
}

/* line 8, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/albums.css */
body {
  font: normal 14px "Roboto Condensed", sans-serif;
}

/* line 12, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/albums.css */
main {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  background: #f5f6d4;
}

/* line 19, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/albums.css */
h1 {
  padding: 0 0 .6em 0;
  font-size: 2.2em;
  /*2.2 bigger than the nearest parent*/
  color: #493f0b;
}

/* line 25, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/albums.css */
h2 {
  font-size: 1.5em;
}

/* line 29, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/albums.css */
h3 {
  font-size: 1.2em;
}

/* line 33, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/albums.css */
#albums li {
  display: inline-block;
  width: 25%;
  padding: 0 10px 10px 0;
  vertical-align: top;
  box-sizing: border-box;
}

/* line 41, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/albums.css */
#albums img {
  display: block;
  width: 100%;
  margin: 0 0 10px 0;
}

/* line 47, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/albums.css */
#albums a {
  display: block;
  text-decoration: none;
  color: inherit;
}

/* line 53, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/albums.css */
#songs_modal {
  display: none;
  position: fixed;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  padding: 25px;
  z-index: 10;
  background: #f5f6d4;
}

/* line 65, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/albums.css */
#songs_modal a.close {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  color: #a7c520;
}

/* line 73, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/albums.css */
#songs_modal img {
  float: left;
  width: 80px;
  margin: 0 10px 10px 0;
}

/* line 78, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/albums.css */
#songs_modal h2 {
  padding: 0 0 10px 0;
}

/* line 81, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/albums.css */
#songs_modal h3 {
  padding: 0 0 5px 0;
}

/* line 84, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/albums.css */
#songs_modal ol {
  clear: both;
  /*clear the left floated image*/
  list-style: decimal inside;
}

/* line 88, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/albums.css */
#songs_modal li {
  padding: 7px 0;
}

/* line 91, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/albums.css */
#songs_modal li {
  border-bottom: 1px solid #a7c520;
}

/* line 94, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/albums.css */
#songs_modal small {
  float: right;
}

/* line 99, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/albums.css */
#overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background: rgba(0, 0, 0, 0.6);
}
