/*!
 *  owfont-regular 1.0.0 by Deniz Fuchidzhiev - http://websygen.com
 *  License - font: SIL OFL 1.1, css: MIT License
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'owfont';
  src: url("/assets/owfont-regular-46929495548cff5a4b54706f3263d1aed22632bb4198196c04b34928062ae46f.eot?v=1.0.0");
  src: url("/assets/owfont-regular-46929495548cff5a4b54706f3263d1aed22632bb4198196c04b34928062ae46f.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("/assets/owfont-regular-b6caa470ca9b4952fab2218889420db41a0cbe52612edc41e7177bcd8d3d805a.woff") format("woff"), url("/assets/owfont-regular-e81a7894224d7bd322da3ed28bb4352cdf48ff57de0b5183e758b79f95719829.ttf") format("truetype"), url("/assets/owfont-regular-cad2ff52f0560af67b6b008e74b0a7a893a11be4ca7a5e963c1fe7e66bf35ef9.svg#owf-regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 17, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf {
  display: inline-block;
  font: normal normal normal 14px/1 owfont;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

/* makes the font 33% larger relative to the icon container */
/* line 27, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

/* line 32, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-2x {
  font-size: 2em;
}

/* line 35, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-3x {
  font-size: 3em;
}

/* line 38, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-4x {
  font-size: 4em;
}

/* line 41, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-5x {
  font-size: 5em;
}

/* line 44, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-fw {
  width: 1.28571429em;
  text-align: center;
}

/* line 48, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

/* line 53, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-ul > li {
  position: relative;
}

/* line 56, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}

/* line 63, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-li.owf-lg {
  left: -1.85714286em;
}

/* line 66, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}

/* line 71, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-pull-right {
  float: right;
}

/* line 74, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-pull-left {
  float: left;
}

/* line 77, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf.owf-pull-left {
  margin-right: .3em;
}

/* line 80, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf.owf-pull-right {
  margin-left: .3em;
}

/* owfont uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
/*   Weather Condition Codes    */
/*   Thunderstorm - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
/* thunderstorm with light rain */
/* line 92, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-200:before,
.owf-200-d:before,
.owf-200-n:before {
  content: "\EB28";
}

/* thunderstorm with rain */
/* line 98, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-201:before,
.owf-201-d:before,
.owf-201-n:before {
  content: "\EB29";
}

/* thunderstorm with heavy rain */
/* line 104, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-202:before,
.owf-202-d:before,
.owf-202-n:before {
  content: "\EB2A";
}

/*  light thunderstorm  */
/* line 110, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-210:before,
.owf-210-d:before,
.owf-210-n:before {
  content: "\EB32";
}

/*  thunderstorm  */
/* line 116, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-211:before,
.owf-211-d:before,
.owf-211-n:before {
  content: "\EB33";
}

/*   heavy thunderstorm   */
/* line 122, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-212:before,
.owf-212-d:before,
.owf-212-n:before {
  content: "\EB34";
}

/*   ragged thunderstorm   */
/* line 128, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-221:before,
.owf-221-d:before,
.owf-221-n:before {
  content: "\EB3D";
}

/*  thunderstorm with light drizzle    */
/* line 134, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-230:before,
.owf-230-d:before,
.owf-230-n:before {
  content: "\EB46";
}

/*  thunderstorm with drizzle     */
/* line 140, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-231:before,
.owf-231-d:before,
.owf-231-n:before {
  content: "\EB47";
}

/* thunderstorm with heavy drizzle     */
/* line 146, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-232:before,
.owf-232-d:before,
.owf-232-n:before {
  content: "\EB48";
}

/*   Drizzle - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
/*  light intensity drizzle */
/* line 155, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-300:before,
.owf-300-d:before,
.owf-300-n:before {
  content: "\EB8C";
}

/*  drizzle */
/* line 161, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-301:before,
.owf-301-d:before,
.owf-301-n:before {
  content: "\EB8D";
}

/*  heavy intensity drizzle  */
/* line 167, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-302:before,
.owf-302-d:before,
.owf-302-n:before {
  content: "\EB8E";
}

/*   light intensity drizzle rain  */
/* line 173, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-310:before,
.owf-310-d:before,
.owf-310-n:before {
  content: "\EB96";
}

/*  drizzle rain  */
/* line 179, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-311:before,
.owf-311-d:before,
.owf-311-n:before {
  content: "\EB97";
}

/* heavy intensity drizzle rain */
/* line 185, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-312:before,
.owf-312-d:before,
.owf-312-n:before {
  content: "\EB98";
}

/* shower rain and drizzle  */
/* line 191, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-313:before,
.owf-313-d:before,
.owf-313-n:before {
  content: "\EB99";
}

/* heavy shower rain and drizzle*/
/* line 197, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-314:before,
.owf-314-d:before,
.owf-314-n:before {
  content: "\EB9A";
}

/* shower drizzle */
/* line 203, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-321:before,
.owf-321-d:before,
.owf-321-n:before {
  content: "\EBA1";
}

/*   Rain - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
/* light rain  */
/* line 212, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-500:before,
.owf-500-d:before,
.owf-500-n:before {
  content: "\EC54";
}

/* moderate rain  */
/* line 218, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-501:before,
.owf-501-d:before,
.owf-501-n:before {
  content: "\EC55";
}

/* heavy intensity rain  */
/* line 224, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-502:before,
.owf-502-d:before,
.owf-502-n:before {
  content: "\EC56";
}

/* very heavy rain   */
/* line 230, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-503:before,
.owf-503-d:before,
.owf-503-n:before {
  content: "\EC57";
}

/* extreme rain    */
/* line 236, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-504:before,
.owf-504-d:before,
.owf-504-n:before {
  content: "\EC58";
}

/* freezing rain    */
/* line 242, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-511:before,
.owf-511-d:before,
.owf-511-n:before {
  content: "\EC5F";
}

/*  light intensity shower rain    */
/* line 248, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-520:before,
.owf-520-d:before,
.owf-520-n:before {
  content: "\EC68";
}

/* shower rain  */
/* line 254, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-521:before,
.owf-521-d:before,
.owf-521-n:before {
  content: "\EC69";
}

/*  heavy intensity shower rain  */
/* line 260, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-522:before,
.owf-522-d:before,
.owf-522-n:before {
  content: "\EC6A";
}

/* ragged shower rain  */
/* line 266, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-531:before,
.owf-531-d:before,
.owf-531-n:before {
  content: "\EC73";
}

/*   Snow - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
/* light snow  */
/* line 275, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-600:before,
.owf-600-d:before,
.owf-600-n:before {
  content: "\ECB8";
}

/*  snow  */
/* line 281, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-601:before,
.owf-601-d:before,
.owf-601-n:before {
  content: "\ECB9";
}

/*   heavy snow   */
/* line 287, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-602:before,
.owf-602-d:before,
.owf-602-n:before {
  content: "\ECBA";
}

/*  sleet  */
/* line 293, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-611:before,
.owf-611-d:before,
.owf-611-n:before {
  content: "\ECC3";
}

/*   shower sleet */
/* line 299, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-612:before,
.owf-612-d:before,
.owf-612-n:before {
  content: "\ECC4";
}

/* light rain and snow */
/* line 305, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-615:before,
.owf-615-d:before,
.owf-615-n:before {
  content: "\ECC7";
}

/* rain and snow  */
/* line 311, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-616:before,
.owf-616-d:before,
.owf-616-n:before {
  content: "\ECC8";
}

/* light shower snow  */
/* line 317, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-620:before,
.owf-620-d:before,
.owf-620-n:before {
  content: "\ECCC";
}

/* shower snow  */
/* line 323, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-621:before,
.owf-621-d:before,
.owf-621-n:before {
  content: "\ECCD";
}

/* heavy shower snow  */
/* line 329, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-622:before,
.owf-622-d:before,
.owf-622-n:before {
  content: "\ECCE";
}

/*   Atmosphere - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
/* mist */
/* line 338, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-701:before,
.owf-701-d:before,
.owf-701-n:before {
  content: "\ED1D";
}

/* smoke */
/* line 344, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-711:before,
.owf-711-d:before,
.owf-711-n:before {
  content: "\ED27";
}

/* haze */
/* line 350, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-721:before,
.owf-721-d:before,
.owf-721-n:before {
  content: "\ED31";
}

/* Sand/Dust Whirls */
/* line 356, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-731:before,
.owf-731-d:before,
.owf-731-n:before {
  content: "\ED3B";
}

/* Fog */
/* line 362, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-741:before,
.owf-741-d:before,
.owf-741-n:before {
  content: "\ED45";
}

/* sand */
/* line 368, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-751:before,
.owf-751-d:before,
.owf-751-n:before {
  content: "\ED4F";
}

/* dust */
/* line 374, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-761:before,
.owf-761-d:before,
.owf-761-n:before {
  content: "\ED59";
}

/*  VOLCANIC ASH  */
/* line 380, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-762:before,
.owf-762-d:before,
.owf-762-n:before {
  content: "\ED5A";
}

/* SQUALLS */
/* line 386, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-771:before,
.owf-771-d:before,
.owf-771-n:before {
  content: "\ED63";
}

/* TORNADO */
/* line 392, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-781:before,
.owf-781-d:before,
.owf-781-n:before {
  content: "\ED6D";
}

/*   Clouds - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
/*  sky is clear  */
/*  Calm  */
/* line 401, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-800:before,
.owf-800-d:before,
.owf-951:before,
.owf-951-d:before {
  content: "\ED80";
}

/* line 407, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-800-n:before,
.owf-951-n:before {
  content: "\F168";
}

/*  few clouds   */
/* line 412, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-801:before,
.owf-801-d:before {
  content: "\ED81";
}

/* line 416, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-801-n:before {
  content: "\F169";
}

/* scattered clouds */
/* line 420, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-802:before,
.owf-802-d:before {
  content: "\ED82";
}

/* line 424, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-802-n:before {
  content: "\F16A";
}

/* broken clouds  */
/* line 428, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-803:before,
.owf-803-d:before,
.owf-803-n:before {
  content: "\ED83";
}

/* overcast clouds  */
/* line 434, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-804:before,
.owf-804-d:before,
.owf-804-n:before {
  content: "\ED84";
}

/*   Extreme - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
/* tornado  */
/* line 443, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-900:before,
.owf-900-d:before,
.owf-900-n:before {
  content: "\EDE4";
}

/*  tropical storm  */
/* line 449, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-901:before,
.owf-901-d:before,
.owf-901-n:before {
  content: "\EDE5";
}

/* hurricane */
/* line 455, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-902:before,
.owf-902-d:before,
.owf-902-n:before {
  content: "\EDE6";
}

/* cold */
/* line 461, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-903:before,
.owf-903-d:before,
.owf-903-n:before {
  content: "\EDE7";
}

/* hot */
/* line 467, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-904:before,
.owf-904-d:before,
.owf-904-n:before {
  content: "\EDE8";
}

/* windy */
/* line 473, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-905:before,
.owf-905-d:before,
.owf-905-n:before {
  content: "\EDE9";
}

/* hail */
/* line 479, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-906:before,
.owf-906-d:before,
.owf-906-n:before {
  content: "\EDEA";
}

/*   Additional - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -    */
/* Setting */
/* line 488, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-950:before,
.owf-950-d:before,
.owf-950-n:before {
  content: "\EE16";
}

/*  Light breeze  */
/* line 494, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-952:before,
.owf-952-d:before,
.owf-952-n:before {
  content: "\EE18";
}

/*  Gentle Breeze  */
/* line 500, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-953:before,
.owf-953-d:before,
.owf-953-n:before {
  content: "\EE19";
}

/*  Moderate breeze  */
/* line 506, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-954:before,
.owf-954-d:before,
.owf-954-n:before {
  content: "\EE1A";
}

/* Fresh Breeze  */
/* line 512, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-955:before,
.owf-955-d:before,
.owf-955-n:before {
  content: "\EE1B";
}

/* Strong  Breeze  */
/* line 518, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-956:before,
.owf-956-d:before,
.owf-956-n:before {
  content: "\EE1C";
}

/* High wind, near gale  */
/* line 524, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-957:before,
.owf-957-d:before,
.owf-957-n:before {
  content: "\EE1D";
}

/* Gale */
/* line 530, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-958:before,
.owf-958-d:before,
.owf-958-n:before {
  content: "\EE1E";
}

/*  Severe Gale  */
/* line 536, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-959:before,
.owf-959-d:before,
.owf-959-n:before {
  content: "\EE1F";
}

/* Storm */
/* line 542, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-960:before,
.owf-960-d:before,
.owf-960-n:before {
  content: "\EE20";
}

/*  Violent Storm  */
/* line 548, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-961:before,
.owf-961-d:before,
.owf-961-n:before {
  content: "\EE21";
}

/* Hurricane */
/* line 554, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/owfont_regular.css */
.owf-962:before,
.owf-962-d:before,
.owf-962-n:before {
  content: "\EE22";
}

/* line 1, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/geolocation.css */
html, body {
  margin: 0;
  font: normal 16px Helvetica, Arial, sans-serif;
  color: #333333;
  background: #402a22;
}

/* line 8, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/geolocation.css */
main {
  width: 600px;
  padding: 25px;
  margin: 0 auto;
  background: #ffffff;
}

/* line 15, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/geolocation.css */
article {
  position: relative;
  height: 420px;
  overflow: hidden;
}

/* line 21, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/geolocation.css */
#map img {
  display: block;
}

/* line 24, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/geolocation.css */
#map p {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 1;
  margin: -10px 0 0 0;
  text-align: center;
}

/* line 34, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/geolocation.css */
#weather {
  position: absolute;
  bottom: -100px;
  left: -100%;
  z-index: 2;
  padding: 15px;
  color: #ffffff;
  border-top-right-radius: 18px;
  background: rgba(0, 0, 0, 0.5);
  transition: bottom ease 800ms, left ease 800ms;
}

/* line 45, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/geolocation.css */
#weather.slide {
  bottom: 0;
  left: 0;
}

/* line 50, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/geolocation.css */
h2, h3, p {
  margin: 0;
}

/* line 51, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/geolocation.css */
h2 {
  padding: 0 0 10px 0;
}

/* line 52, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/geolocation.css */
h3 {
  display: inline-block;
  padding: 0 20px 0 0;
}

/* line 56, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/geolocation.css */
#weather p {
  display: inline-block;
}
