/* line 1, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/history.css */
html, body {
  background: #282828;
}

/* line 5, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/history.css */
body {
  margin: 0;
  font: normal 14px Georgia, Palatino, serif;
}

/* line 10, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/history.css */
a {
  color: blue;
}

/* line 12, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/history.css */
h1 {
  font: bold 24px Helvetica, Arial, sans-serif;
}

/* line 16, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/history.css */
header {
  max-width: 960px;
  padding: 10px 20px;
  margin: 0 auto 25px auto;
  background: #ffffff;
}

/* line 23, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/history.css */
header h1 {
  display: inline-block;
  padding: 0;
  margin: 0 1em 0 0;
}

/* line 29, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/history.css */
nav {
  display: inline-block;
  font-size: 1.3em;
}

/* line 34, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/history.css */
nav li {
  display: inline;
  margin: 0 1em 0 0;
}

/* line 39, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/history.css */
nav a.active {
  color: #03cf25;
}

/* line 43, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/history.css */
main {
  max-width: 960px;
  padding: 20px;
  margin: 0 auto;
  background: #ffffff;
}

/* line 50, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/history.css */
article + article {
  /*where we hide other panels*/
  display: none;
}

/* line 54, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/history.css */
figure {
  max-width: 662px;
  margin: 0 auto;
}

/* line 59, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/history.css */
img {
  display: block;
  width: 100%;
  max-width: 662px;
  padding: 10px;
  border: 1px solid #c0c0c0;
  border-bottom: none;
  background: #ffffff;
  box-sizing: border-box;
}

/* line 70, /Users/matthewmalone/Sites/ex_backbone_rails/app/assets/stylesheets/history.css */
figcaption {
  padding: 10px;
  border: 1px solid #c0c0c0;
  border-top: none;
  background: #ffffff;
}
