<main>
  <article>
    <div id="map"><p>Getting geolocation...</p></div>
    <div id="weather"></div>
  </article>
</main>

<script id="weather_card" type="text/x-handlebars">
  <h2>{{location}}</h2>
  <h3>{{{temp}}}</h3>
  <p><i class="owf owf-{{icon}}"></i> {{description}}</p>
</script>



