<header>
  <h1>Articles</h1>
  <nav>
    <ul>
      <li><a class="active" href="#page_1">Cheetah</a></li>
      <li><a href="#page_2">Iceland Village</a></li>
      <li><a href="#page_3">Trinidad</a></li>
    </ul>
  </nav>
</header>
<main>
  <article id="page_1">
    <h1>Cheetah at Sunset</h1>
    <p>Proin venenatis nisi et neque ultrices, in blandit ante condimentum. Duis auctor enim ligula, nec viverra diam aliquet eu. Donec vehicula sem eget bibendum rutrum.</p>
    <figure>
      <%= image_tag "Cheetah_at_Sunset" %>
      <figcaption>&copy; By Arturo de Frias Marques</figcaption>
    </figure>
    <p>Duis malesuada lectus nec pulvinar semper. Aliquam in interdum erat. Suspendisse potenti. Nulla at purus tempus, bibendum eros ac, auctor lacus.</p>
    <p>Etiam eget tellus eget magna volutpat venenatis. Praesent semper justo ut erat ornare, rutrum accumsan odio malesuada. Mauris blandit ultricies purus eu porttitor. Etiam convallis neque quis risus dictum fringilla et vitae erat. Aliquam ultricies massa sed enim gravida, nec finibus arcu ultrices. Etiam finibus, nisi quis convallis malesuada, metus dolor pharetra ligula, quis condimentum sapien justo eu enim.</p>
  </article>
  <article id="page_2">
    <h1>Museo Marítimo</h1>
    <p>Proin venenatis nisi et neque ultrices, in blandit ante condimentum. Duis auctor enim ligula, nec viverra diam aliquet eu. Donec vehicula sem eget bibendum rutrum.</p>
    <figure>
      <%= image_tag "Museo_maritimo" %>
      <figcaption>&copy; By Diego Delso</figcaption>
    </figure>
    <p>Duis malesuada lectus nec pulvinar semper. Aliquam in interdum erat. Suspendisse potenti. Nulla at purus tempus, bibendum eros ac, auctor lacus.</p>
    <p>Etiam eget tellus eget magna volutpat venenatis. Praesent semper justo ut erat ornare, rutrum accumsan odio malesuada. Mauris blandit ultricies purus eu porttitor. Etiam convallis neque quis risus dictum fringilla et vitae erat. Aliquam ultricies massa sed enim gravida, nec finibus arcu ultrices. Etiam finibus, nisi quis convallis malesuada, metus dolor pharetra ligula, quis condimentum sapien justo eu enim.</p>
  </article>
  <article id="page_3">
    <h1>Trindade</h1>
    <p>Proin venenatis nisi et neque ultrices, in blandit ante condimentum. Duis auctor enim ligula, nec viverra diam aliquet eu. Donec vehicula sem eget bibendum rutrum.</p>
    <figure>
      <%= image_tag "Trindade" %>
      <figcaption>&copy; By Simone Marinho</figcaption>
    </figure>
    <p>Duis malesuada lectus nec pulvinar semper. Aliquam in interdum erat. Suspendisse potenti. Nulla at purus tempus, bibendum eros ac, auctor lacus.</p>
    <p>Etiam eget tellus eget magna volutpat venenatis. Praesent semper justo ut erat ornare, rutrum accumsan odio malesuada. Mauris blandit ultricies purus eu porttitor. Etiam convallis neque quis risus dictum fringilla et vitae erat. Aliquam ultricies massa sed enim gravida, nec finibus arcu ultrices. Etiam finibus, nisi quis convallis malesuada, metus dolor pharetra ligula, quis condimentum sapien justo eu enim.</p>
  </article>
</main>