<% title "Albums" %><!-- 'title' method from application_helper.rb -->
<main>
  <h1>Albums</h1>
  <ul id="albums">
    <!-- template in 'javascripts/backbone/templates/albums/each_album.hbs -->'
  </ul>
</main>

<div id="overlay"><!-- in css; 'overlay' can't interact w/ what is in <main> -->
  <!-- template in 'javascripts/backbone/templates/songs/each_song.hbs -->'
</div>



