<% title "Albums"  %><!-- 'title' method from application_helper.rb -->
<main>
  <hr>
  <header id="album_header">
    <div id="cart">
    </div>
  </header>
  <br>
  <br>
  <br>
  <br>
  <h1>Albums</h1>
  <ul id="albums"><!-- albums/index.hbs --></ul>
  <hr>
  </br>
  <%= link_to "Add New Album", new_album_path, :class => "btn" %><!-- opens new.hbs.erb -->
</main>

<div id="overlay"><!-- songs/index.hbs & albums/new.hbs --></div>



