<% title "Albums"  %><!-- 'title' method from application_helper.rb -->
<main>
  <h1>Albums</h1>
  <ul id="albums">
    <!-- template in 'javascripts/backbone/templates/albums/index.hbs -->'
  </ul>
  <hr>
  </br>
  <a href="#" class="btn">Add New Album</a>
</main>

<div id="overlay"><!-- in css; 'overlay' can't interact w/ what is in <main> -->
  <!-- template in 'javascripts/backbone/templates/songs/index.hbs -->'
</div>



