<form id="new-event" name="event">
  <div class="field">
    <label for="title"> Title:</label>
    <input type="text" name="name" id="name" >
  </div>

  <div class="field">
    <label for="artist"> Artist:</label>
    <input type="text" name="month" id="month" >
  </div>

  <div class="field">
    <label for="date"> Date:</label>
    <input type="text" name="date" id="date" >
  </div>

  <div class="field">
    <label for="cover"> Cover:</label>
    <input type="text" name="notes" id="notes">
  </div>

  <div class="field">
    <label for="price"> Price:</label>
    <input type="text" name="notes" id="notes">
  </div>

  <div class="actions">
    <input type="submit" value="Create Event" />
  </div>

</form>