<a class="close" href="#">Close</a>

<form class="new_album" id="new_album" action="/albums" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value={{token}}>
  Artist:<br>
  <input type="text" name="album[artist]" id="album_artist"><br>
  Title:<br>
  <input type="text" name="album[title]" id="album_title"><br>
  URL:<br>
  <input type="text" name="album[url]" id="album_url"><br>
  Date:<br>
  <input type="text" name="album[date]" id="album_date"><br>
  Cover:<br>
  <input type="text" name="album[cover]" id="album_cover"><br>
  Price:<br>
  <input type="text" name="album[price]" id="album_price"><br>
  <input type="submit" name="commit" value="Create Album">
</form>







