<div class="navbar navbar-fixed-top"> 
  <div class="navbar-inner">
    <div class="offset1"> <a class="brand" href="#">Shopbone</a></div>
    <div class="container"> 
      <ul class="nav"> 
        <li class="home active"><a class="active" href="#">Home</a></li> 
      </ul>
    </div>  
  </div> 
</div>

<div class="container ">
  <section class="row span6" style="margin-top: 40px;">
    <div id="app"></div>
  </section>
</div>
