<form action="" method="post">
  <fieldset>
    <dl>
      <dt>
        <label for="numeric_string">Digits to be used</label>
      </dt>
      <dd>
        <textarea name="numeric_string" id="numeric_string" cols="80" rows="8"></textarea>
      </dd>
      <dt>
        <label for="adjacent_count">Number of adjacent digits to check</label>
      </dt>
      <dd>
        <input type="text" id="adjacent_count" name="adjacent_count" value="2" />
      </dd>
    </dl>
    <input type="submit" value="Process" />
  </fieldset>
</form>
<p>Largest product: <strong></strong></p>


