@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed");

html, body {
  background: #DADAFF;
}

body {
  font: normal 14px "Roboto Condensed", sans-serif;
}

main {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
  background: #f5f6d4;
}

h1 {
  padding: 0 0 .6em 0;
  font-size: 2.2em; /*2.2 bigger than the nearest parent*/
  color: #493f0b;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

#albums li {
  display: inline-block;
  width: 25%;
  padding: 0 10px 10px 0;
  vertical-align: top;
  box-sizing: border-box;
}

#albums img {
  display: block;
  width: 100%;
  margin: 0 0 10px 0;
}

#albums a {
  display: block;
  text-decoration: none;
  color: inherit;
}

#songs_modal {
  display: none;
  position: fixed;
  top: 25px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  padding: 25px;
  z-index: 10;
  background: #f5f6d4;
}

#songs_modal a.close {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  color: #a7c520;
}

#songs_modal img {
  float: left;
  width: 80px;
  margin: 0 10px 10px 0;
}
#songs_modal h2 {
  padding: 0 0 10px 0;
}
#songs_modal h3 {
  padding: 0 0 5px 0;
}
#songs_modal ol {
  clear: both; /*clear the left floated image*/
  list-style: decimal inside;
}
#songs_modal li {
  padding: 7px 0;
}
#songs_modal li {
  border-bottom: 1px solid #a7c520;
}
#songs_modal small {
  float: right;
}


#overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background: rgba(0, 0, 0, .6);
}

a.btn {
  background: #6034d9;
  background-image: -webkit-linear-gradient(top, #6034d9, #DADAFF);
  background-image: -moz-linear-gradient(top, #6034d9, #DADAFF);
  background-image: -ms-linear-gradient(top, #6034d9, #DADAFF);
  background-image: -o-linear-gradient(top, #6034d9, #DADAFF);
  background-image: linear-gradient(to bottom, #6034d9, #DADAFF);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 6px 12px 6px 12px;
  text-decoration: none;
}

a.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #6034d9);
  background-image: -moz-linear-gradient(top, #3cb0fd, #6034d9);
  background-image: -ms-linear-gradient(top, #3cb0fd, #6034d9);
  background-image: -o-linear-gradient(top, #3cb0fd, #6034d9);
  background-image: linear-gradient(to bottom, #3cb0fd, #6034d9);
  text-decoration: none;
}













