a.btn, input.btn {
  background: #6034d9;
  background-image: -webkit-linear-gradient(top, #6034d9, #DADAFF);
  background-image: -moz-linear-gradient(top, #6034d9, #DADAFF);
  background-image: -ms-linear-gradient(top, #6034d9, #DADAFF);
  background-image: -o-linear-gradient(top, #6034d9, #DADAFF);
  background-image: linear-gradient(to bottom, #6034d9, #DADAFF);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 6px 12px 6px 12px;
  text-decoration: none;
}

a.btn:hover, input.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #6034d9);
  background-image: -moz-linear-gradient(top, #3cb0fd, #6034d9);
  background-image: -ms-linear-gradient(top, #3cb0fd, #6034d9);
  background-image: -o-linear-gradient(top, #3cb0fd, #6034d9);
  background-image: linear-gradient(to bottom, #3cb0fd, #6034d9);
  text-decoration: none;
}
